.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#CED5D0,#FEFEFE);
}
.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
  height: 80vh;
  margin: 0 auto;
}
.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 49.7vw;
  height: 40vh;
}
.phoneImg {
  width: 17.4vw;
  height: 69vh;
}
.phoneImg img{
    width: 100%;
    height: 100%;
}
.title {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 3vw;
}
.contentPh {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 2.6vw;
}
.button{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1.2vw;
    color: white;
    border: none;
    width: 8.6vw;
    height:7vh;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0.8vw;
    background: linear-gradient(0.5turn, #546656, #222322);

  }
