.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/homeHero8.svg");
}
.wrapper {
  width: 99%;
  height: 52.2vh;
  margin-top: 30vh;
  padding-left: 6.5%;
  padding-bottom: 2vw;
  padding-top: 2vw;
  background-color: rgba(0, 0, 0, 0.4); 
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 40vw;
  height: 100%;

}
.title {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 3.5vw;
  color: white;
}
.content {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.5vw;
  color: white;
}
.button{
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.2vw;
  color: white;
  border: none;
  width: 10vw;
  height:7vh;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0.8vw;
  background: #38453a;
  border:0.1px solid;
  transition: 0.5s;
}
.button:hover{
  border: 0.1px solid gray;
}