.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 156vh;
    border: 1px solid;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    width: 86%;
    height: 82.8vh;
    border: 1px solid;
}
.formDiv{
    width: 37.5vw;
    height: 100%;
    border: 1px solid;
}
.rafiki{
    width: 48vw;
}