.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 106vh;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    width: 86%;
    height: 82.8vh;
}
.formDiv{
    width: 37.5vw;
    height: 100%;
}
.rafiki{
    width: 48vw;
}