.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: -7vw;
  width: 88%;
  color: white;
}
.graphicWrapper {
  background-image: url("../../images/gr.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.graphicTime {
  height: 4vh;
  background-color: #2c2b30;
  border-top: 1.5px solid #a1a09f;
}
