.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: -7vw;
  width: 88%;
  color: white;
}
.graphicTime {
  height: 4vh;
  background-color: #2c2b30;
  border-top: 0.1px solid #a1a09f;
}
.target {
  display: flex;
  justify-content: space-between;
  width: 10vw;
  height: 5.4vh;
  border: 1px solid #d9d9d9;
  border-radius: 0.3vw;
  padding: 0.2vw 0.4vw;
}
.targetPass {
  display: flex;
  justify-content: space-between;
  width: 10vw;
  height: 5.4vh;
  border: 1px solid #ffffff;
  border-radius: 0.3vw;
  padding: 0.2vw 0.4vw;
}
.graphicWrapper {
  height: 100%;
}
.targetOpenSelector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 20vw;
  height: 45vh;
  border: 1px solid #d9d9d9;
  border-radius: 0.5vw;
  background-color: #383f3f;
  padding-bottom: 1vw;
}
.selectWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 20vw;
  height: 55vh;
  margin-top: 5vh;
  margin-left: 10vw;
}
.targetSelectorOpenWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18vw;
  height: 8.6vh;
}
.targetSelectorOpenWrapper input {
  width: 15vw;
  height: 3.6vh;
  border-radius: 0.3vw;
  padding-left: 0.3vw;
  border: 1px solid #b9b6b6;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
::placeholder {
  font-size: 1.1vw;
}
.targetSelectorOpenWrapper button {
  width: 2vw;
  height: 4vh;
  border-radius: 0.3vw;
  background-color: #8c9090;
  border: 0.1px solid #b9b6b6;
}
.scrollItem {
  width: 86%;
  height: 4.3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4vw;
  background-color: #8c9090;
  border-radius: 0.5vw;
  border: 1px solid;
}
.scrollItemPass {
  width: 86%;
  height: 4.3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4vw;
  background-color: #00e7e7;
  border-radius: 0.5vw;
  border: 1px solid;
}
.instrumentContainer{
  display: flex;
  justify-content: space-between;
  width: 13vw;
  height: 5vh;
  margin-top: 7vw;
  margin-left: 10vw;
}