.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: -7vw;
  width: 88%;
  color: white;
}

.graphicTime {
  margin-left: -15vw;
  height: 4vh;
  background-color: #383f3f;
  border-bottom: 0.1px solid #a1a09f;
}
.target {
  display: flex;
  justify-content: space-between;
  width: 10vw;
  height: 5.4vh;
  border: 1px solid #d9d9d9;
  border-radius: 0.3vw;
  padding: 0.2vw 0.4vw;
}
.targetPass {
  display: flex;
  justify-content: space-between;
  width: 10vw;
  height: 5.4vh;
  border: 1px solid #ffffff;
  border-radius: 0.3vw;
  padding: 0.2vw 0.4vw;
  cursor: pointer;
  transition: 0.5s;
}
.targetPass:hover {
  box-shadow: 0 2px gray;
  cursor: pointer;
}
.graphicWrapper {
  height: 100%;
}

.targetOpenSelector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 20vw;
  height: 45vh;
  border: 1px solid #d9d9d9;
  border-radius: 0.5vw;
  background-color: #383f3f;
  padding-bottom: 1vw;
}

.selectWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 20vw;
  height: 55vh;
  margin-top: 5vh;
  margin-left: 2.8vw;
  z-index: 5;
  transition: transform 0.15s ease;
}
.targetSelectorOpenWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 17.5vw;
  height: 8vh;
  margin-top: 1vw;
}
.targetSelectorOpenWrapper input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.8vw;
  height: 3.6vh;
  border-radius: 0.3vw;
  padding-left: 0.8vw;
  border: 1px solid #b9b6b6;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
::placeholder {
  font-size: 1vw;
}
.targetSelectorOpenWrapper button {
  width: 2vw;
  height: 4vh;
  border-radius: 0.3vw;
  background-color: #8c9090;
  border: 0.1px solid #b9b6b6;
}
.scrollItem {
  width: 82%;
  height: 4.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4vw;
  background-color: #8c9090;
  border-radius: 0.5vw;
  border: 1px solid;
  margin-top: 0.8vw;
}
.scrollItem img {
  width: 2vw;
}
.scrollItem:first-child {
  margin-top: 0;
}
.scrollItemPass {
  width: 86%;
  height: 4.3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4vw;
  background-color: #00e7e7;
  border-radius: 0.5vw;
  border: 1px solid;
}
.instrumentContainer {
  display: flex;
  justify-content: space-between;
  width: 13vw;
  height: 5vh;
  z-index: 50;
}
.verticalScroll {
  overflow-y: auto;
  width: 88%;
  margin-top: 1vw;
}
.verticalScroll::-webkit-scrollbar {
  width: 0.6vw;
}

.verticalScroll::-webkit-scrollbar-thumb {
  background-color: white;
}

.verticalScroll::-webkit-scrollbar-track {
  border: 1px solid;
}
.filterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.filterIcon {
  font-size: 5rem;
}
.targetContentTitle {
  font-size: 1.2vw;
}
.targetContentProcent {
  font-size: 1vw;
}
.firstMargin {
  margin-left: 10vw;
  transition: transform 0.15s ease;
}
.secondMargin {
  margin-left: 7vw;
  z-index: 0;
  transition: transform 0.15s ease;
}
.togInstrumentContainer {
  position: absolute;
  top: 54%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 20vw;
  height: 40vh;
  margin-left: 2.8vw;
  z-index: 5;
  transition: transform 0.15s ease;
}
.firstMarginTog {
  margin-left: 10vw;
  transition: transform 0.15s ease;
}
.secondMarginTog {
  margin-left: 7vw;
  z-index: 0;
  transition: transform 0.15s ease;
}
