.panel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(179, 176, 176, 0.2),
    rgba(0, 0, 0, 0.7)
  );

  border-right: 0.1px solid #a1a09f;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  width: 7vw;
}
.visible {
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.horizontalPanel {
  width: 7vw;
  text-align: center;
  z-index: 5;
}
.contentContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 4.5vw;
  height: 8.5vh;
  padding: 0.4vw;
  border-radius: 1vw;
  transition: 0.2s;
  font-size: 1vw;
  color: white;
  cursor: pointer;
}
.contentContainer:last-child {
  margin-bottom: 1vw;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 1vw;
  height: auto;
}
.itemImg {
  width: 2vw;
  margin: 0;
}
.active {
  background-color: #5a625d;
  border: 0.1px solid white;
}
.activePharagraph {
  color: white;
}
.passPharagraph {
  color: #b9b6b6;
}
.itemImg:last-child {
  width: 1.5vw;
}
