.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 115vh;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49.6%;
  height: 57vh;
  background: linear-gradient(-0.25turn, #546656, #222322);
  cursor: pointer;
  transition: 0.4s;
}
.highlight{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49.6%;
  height: 57vh;
  background: linear-gradient(0.25turn, #546656, #222322);
  cursor: pointer;
  transition: 0.4s;
}
.item{
  background-color: red;
}
.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49.6%;
  height: 57vh;
  background: linear-gradient(-0.25turn, #546656, #222322);
  cursor: pointer;
  box-shadow: 10px 5px 5px rgb(129, 129, 129);
  transition: 0.4s;
}
.box.active {
  background-color: blue;
  color: white;
}
.itemContent {
  width: 73.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.itemContent > img {
  width: 8vw;
}
.content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.title {
  color: white;
  font-size: 3vw;
}
.contentP {
  color: white;
  font-size: 1.9vw;
  text-wrap: wrap;
}
