.horizontal {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #333D38,
    #5D6F67
  );

  border-right: 0.1px solid #a1a09f;
  position: absolute;
  left: 7vw;
  width: 24vw;
  transform-origin: left; /* Устанавливаем точку трансформации слева */
  transition: transform 0.5s ease;
}

.pass {
  transform: scaleX(0); /* Устанавливаем начальный масштаб по оси X на 0 */
  transform-origin: left; /* Устанавливаем точку трансформации слева */
  transition: transform 0.5s ease;
}
.historyContainer {
  width: 5vw;
  height: 5vw;
  background-color: red;
}
.topTrContainer {
  width: 5vw;
  height: 5vw;
  background-color: rgb(0, 221, 255);
}
